# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
.env/
venv/

# Poetry
poetry.lock

# Logs and caches
logs/
*.log
.cache/
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor files
.vscode/
.idea/
*.swp
